---
const { platform, username, svg } = Astro.props;
---

<a href={`https://www.${platform}.com/${username}`}>
  <img class="width-100 height-100" src={`/${svg}.svg`} alt={`${svg}`} />
</a>

<style>
  a {
    margin: 5px;
    transition: 0.3s;
  }

  a:hover {
    transform: scale(1.15);
  }
</style>
